body {
  margin: 0;
  font-family: "Muller", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  background-color: #170606;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.black {
  color: #000;
}
// ::selection {
//   background: #ff0000;
// }

// .red::selection {background: #ff0000;}

// .white::selection {background: #ffffff;}
