// margin-top

.mt-1 {
  margin-top: calc(20px * 1);
}

.mt-2 {
  margin-top: calc(20px * 2);
}

.mt-3 {
  margin-top: calc(20px * 3);
}

.mt-4 {
  margin-top: calc(20px * 4);
}

.mt-5 {
  margin-top: calc(20px * 5);
}

// margin right
.mr-5 {
  margin-right: calc(20px * 5);
}


// margin bottom
.mb-1 {
  margin-top: calc(20px * 1);
}

.mb-2 {
  margin-bottom: calc(20px * 2);
}

.mb-3 {
  margin-bottom: calc(20px * 3);
}

.mb-4 {
  margin-bottom: calc(20px * 4);
}

.mb-5 {
  margin-bottom: calc(20px * 5);
}
