.nav-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;

  &--has-columns {
    // grid-template-columns: 1fr 1fr;
  }

  li {
  }

  a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    font-family: Muller;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;

    &:hover,
    &:focus {
      color: #0c0e11;
    }
  }

  @media (max-width: 1023px) {
    a {
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    a {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 28px;
    }
  }

  @media (min-width: 1024px) {
    grid-auto-flow: dense;
    gap: 16px 140px;

    &--has-columns {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1600px) {
    gap: 28px 120px;

    a {
      font-size: 40px;
    }
  }

  @media (min-width: 1920px) {
    gap: 28px 140px;

    a {
      font-size: 48px;
    }
  }
}
