.page-production-row {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: repeat(12, 1fr);

  & + & {
    // margin-top: 100px;
  }

  @media (min-width: 1920px) {
    column-gap: 6.25vw;
  }
}

.page-production-work__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-production-work__list-item {
  margin: 0;
  padding: 0;
}
