.page-service-list {
  display: grid;
  gap: 60px 5.2vw;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;

  &--stack {
    grid-template-columns: none;
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));

    &--stack {
      grid-template-columns: none;
    }
  }
}

.page-service-list__item {
}

.page-service-list__item-title {
  margin: 0;
  margin-left: -8px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;

  span {
    padding: 4px 8px;
    color: #ffffff;
    background-color: #dd0707;
    box-decoration-break: clone;
  }
}

.page-service-list__item-text {
  max-width: 480px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
