.services-section-navigation {
}

.services-section-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -52px;
  padding: 0;
  list-style: none;
}

.services-section-navigation__item {
  margin-right: 6%;
  margin-bottom: 52px;
}

.services-section-navigation__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 60px;
  color: #FE770A;
}

.services-section-navigation__button {
}
